.cellar {
    background-color: var(--dark-bacground-color);
    color: var(--secondary-text-color);
    padding: 60px 0;
  }
  .container-brand {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
  .communication {
    font-style: normal;
  }
  .communication-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .location {
    margin-bottom: 9px;
    line-height: 1.71;
  }
  .link-navigation.lover {
    padding: 0;
    line-height: 1.71;
    display: block;
    color: #255, 255, 255, 0.6;
  }
  .cellar-right-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: calc(16 / 14);
    margin-bottom: 20px;
  }
  .cellar-soc-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .cellar-soc-item {
    width: 44px;
    height: 44px;
  }
  .cellar-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 10%);
    transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--color-accent);
    }
  }
 
  .social-icon {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cellar-container-subscribe {
    margin-left: 23px;
  }
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .subscribe-input {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    line-height: calc(20 / 16);
    padding-left: 16px;
    height: 50px;
    width: 358px;
    border: 1px solid #ffffff4d;
    cursor: pointer;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-input:focus {
    border: var(--color-accent);
  }
  .cellar-subscribe {
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .submit-subscribe {
    width: 200px;
    height: 50px;
    background-color: var(--color-accent);
    color: var(--secondary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
  }
  .submit-text {
  display: block;
  }
  .subscribe-img {
    display: block;
    fill: #FFFFFF;
  } 