.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-nav {
    display: flex;
    align-items: center;
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
  .list.nav {
    display: none;
    position: relative;
    @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
  .link-nav {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding: 32px 0;
    &:hover,
    &:focus {
    color: var(--color-accent);
  }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-nav.current {
    color: var(--color-accent);
    display: flex;
     &::after {
      content: "";
      display: block;
      width: 48px;
      height: 4px;
      background-color: currentColor;
      position: absolute;
      bottom: -1px;
    }
  }

  .list-—Åontact.nav {
    display: none;
    gap: 50px;
    margin-left: auto;
    @media screen and (min-width:768px) {
      display:flex;
  }
}
  .link-navigation {
    color: var(--minor-text-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    padding: 32px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    &:hover,
    &:focus {
    color: var(--color-accent);
  }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mail-icon {
    fill: currentColor;
  }