.title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.container-team {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-member {
    width: 450px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width:768px) {
      width: calc((100% - 60px) / 2);
      }
    @media screen and (min-width:1200px) {
      width: 270px;
      }
  }
  .name-member {
    padding-top: 30px;
    padding-bottom: 30px;
  }
 
  .section.team {
    text-align: center;
    background-color: #f5f4fa;
  }
  .name-team {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  .section-text.team {
    font-size: 16px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .member-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .member-soc-item {
    width: 44px;
    height: 44px;
  }
  .member-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
    background-color: var(--color-accent);
  }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .member-social-icon {
    fill: #afb1b8;
    .member-soc-link:hover & {
      fill: #ffffff;
    }
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }