.work {
    padding-top: 0;
  }
  .work__list {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
  }
  .work__wrap {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    );
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work__description {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: calc(16 / 14);
  }
  .work__item {
    position: relative;
  }