:root {
    --primary-text-color: #212121;
    --light-bacground-color: #f5f5f5;
    --dark-bacground-color: #2f303a;
    --secondary-text-color: #ffffff;
    --minor-text-color: #757575;
    --primary-button-color: #f5f4fa;
    --color-accent: #2196f3;
    --color-logo-accent: #000000;
  }